# /etc/systemd/system/file-transfer-watcher.service
[Unit]
Description=AgroDrone file transfer watcher service
After=network.target

[Service]
Type=simple
User=sr-design
WorkingDirectory=/home/sr-design/EC463_Team_17_AgroDrone/file_transfer_watcher
ExecStart=/usr/local/go/bin/go run .
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

